/*--Text------------------------------------------------------------*/
body {
	font-size: 92%;
	font-weight: bold;
}

div.name {
	font-size: 250%;
	color: #00bfff;
	text-align: right;
	font-style: oblique;
	float: right
}

span.ver {
	font-size:11px;
	color: #000000;
	text-align: right;
}

/*--constract----------------------------------------------------------*/
/*--constract----------------------------------------------------------*/
body {
	background: #D2EDDB;
}

#wrapper {
	margin: 0 auto;
	background: #D2EDDB;

}
	
header {
	width: 800px;
	background: #D2EDDB;
	margin: 0 auto 80px auto;
	padding: 10px 0;
}

#contents {
	width: 800px;
	margin: 0 auto;
	padding: 40px 0;
	text-align: center;
	border-top: 3px solid #BDBDBD;
	border-bottom: 3px solid #BDBDBD;
}


