/*--Text------------------------------------------------------------*/
body {
	font-weight: bold;
	font-family: "ＭＳ ゴシック",sans-serif;
	overflow-x: hidden;
}

div.title {
	font-size: 175%;
	color: #6495ed;
	font-style: oblique;
	text-align: left;
	float: left;
}

div.name {
	font-size: 250%;
	color: #00bfff;
	text-align: right;
	font-style: oblique;
	float: right
}

span.ver {
	font-size:50%;
	color: #000000;
	text-align: right;
}

/*--constract----------------------------------------------------------*/
body {
	background: #D2EDDB;
}
	
header {
	max-width: 100%;
	background: #D2EDDB;
	margin: 0 auto 40px auto;
	padding: 10px 20%;
	
}

#contents {
	max-width: 100%;
	height: auto;
	border-top: 3px solid #BDBDBD;
	margin: 40px auto 0px;
	padding: 0;
	text-align: left;
}

/*--menu------------------------------------------------------------*/
#menu {
	width:75%;
	padding:20px 0 0 20px;
	margin:0 auto;
	list-style-type: none;
}

#menu li {
	width:15%;
	float:left;
	padding:0;
	margin:0;
	text-align:center;
	border: solid 2px #fff;
}

#menu li a {
	width:auto;
	color:#fff;
	font-size:80%;
	font-weight:bold;
	padding:10px 0;
	text-decoration:none;
	display:block;
	background:#008080;
}

#menu li a:hover {
	background:#555;
}

/*--common----------------------------------------------------------*/

/*form_hosyu_report*/

form#form_hosyu_report {
	margin: 0 auto;
	padding: 10px 20%;
	margin-bottom: 15px;
	border: none;
	color: #666;
	width: 100%;
}

form#form_hosyu_report ul {
	padding:0;
	margin:0
}

form#form_hosyu_report ul li {
	list-style:none;
	margin:0px;
	padding:5px;
}

form#form_hosyu_report ul li span {
	width: 10em;
	margin:0px;
	display:block;
	float:left;
}

/*フロートをクリア*/
form#form_hosyu_report ul li:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}

form#form_hosyu_report ul li p label input {
	margin-right:0.5em;
}

form#form_hosyu_report input[type="submit"]  {
	cursor:pointer;  
	font-size:92%;
	width:120%;
	padding: 5px 0;
	border-style:none;
	color: #fff;
	background:#d3d3d3;
	text-align:center;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px 1px #666;
	-webkit-box-shadow: 2px 2px 3px 1px #666;
	box-shadow: 2px 2px 3px 1px #666;
	text-shadow: 1px 1px 2px #000; 
}

textarea#naiyo{
	resize: none;
	width:50%

}
textarea#biko{
	resize: none;
	width:50%
}

li:last-child {
	float: left;
}

form#form_hosyu_report input[type="button"]  {
	cursor:pointer;  
	font-size:92%;
	width:120%;
	padding: 5px 0;
	border-style:none;
	color: #fff;
	background:#d3d3d3;
	text-align:center;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px 1px #666;
	-webkit-box-shadow: 2px 2px 3px 1px #666;
	box-shadow: 2px 2px 3px 1px #666;
	text-shadow: 1px 1px 2px #000; 
}
p{
	margin-top:30px;
	margin-left:20%;
	text-align:center;
	
}
p input[type="button"]  {
	cursor:pointer;  
	font-size:92%;
	width:30%;
	padding: 5px 0;
	border-style:none;
	color: 	#fff;
	background:#97ddac;
	text-align:center;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 50%;
	-moz-box-shadow: 2px 2px 3px 1px #666;
	-webkit-box-shadow: 2px 2px 3px 1px #666;
	box-shadow: 2px 2px 3px 1px #666;
	text-shadow: 1px 1px 2px #000; 
}
