/*--Text------------------------------------------------------------*/
body {
	font-weight: bold;
	font-family: "ＭＳ ゴシック",sans-serif;
	overflow-x: hidden;
}

div.title {
	font-size: 175%;
	color: #6495ed;
	font-style: oblique;
	text-align: left;
	float: left;
}

div.name {
	font-size: 250%;
	color: #00bfff;
	text-align: right;
	font-style: oblique;
	float: right
}

span.ver {
	font-size:50%;
	color: #000000;
	text-align: right;
}

/*--constract----------------------------------------------------------*/
body {
	background: #D2EDDB;
}

header {
	max-width: 100%;
	background: #D2EDDB;
	margin: 0 auto 40px auto;
	padding: 10px 20%;
}

#contents {
	border-top: 3px solid #BDBDBD;
	max-width: 100%;
	margin: 40px auto 0px;
	padding: 10px 0 0 0;
	text-align: left;
}

#contents2 {
	max-width: 100%;
	height: auto;
	border-top: 3px solid #BDBDBD;
	margin: 2px auto 0px;
	padding: 0;
	text-align: center;
}

/*--menu------------------------------------------------------------*/
#menu {
	width:75%;
	padding:20px 0 0 20px;
	margin:0 auto;
	list-style-type: none;
}

#menu li {
	width:18%;
	float:left;
	padding:0;
	margin:0;
	text-align:center;
	border: solid 2px #fff;
}

#menu li a {
	width:auto;
	color:#fff;
	font-size:80%;
	font-weight:bold;
	padding:10px 0;
	text-decoration:none;
	display:block;
	background:#008080;
}

#menu li a:hover {
	background:#555;
}

/*--common----------------------------------------------------------*/

/*form_hosyu_search*/

form#form_hosyu_search {
	margin: 0 auto;
	padding: 10px 20%;
	margin-bottom: 15px;
	border: none;
	color: #666;
	width: 100%;
}

form#form_hosyu_search ul {
	padding:0;
	margin:0
}

form#form_hosyu_search ul li {
	list-style:none;
	margin:0px;
	padding:5px;
}

form#form_hosyu_search ul li span {
	width: 10em;
	margin:0px;
	display:block;
	float:left;
}

/*フロートをクリア*/
form#form_hosyu_search ul li:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}

form#form_hosyu_search ul li p label input {
	margin-right:0.5em;
}

form#form_hosyu_search input[type="submit"]  {
	cursor:pointer;  
	width:15%;
	padding: 5px 0;
	border-style:none;
	color: #fff;
	background:#d3d3d3;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px 1px #666;
	-webkit-box-shadow: 2px 2px 3px 1px #666;
	box-shadow: 2px 2px 3px 1px #666;
	text-shadow: 1px 1px 2px #000; 
}

/*kekka*/

ul#kekka {
	margin: 0 auto;
	padding 0;
	margin-bottom: 15px;
	border: none;
	color: #666;
	width: 100%;
}

ul#kekka {
	padding:0;
	margin:0 auto;
}

ul#kekka li {
	list-style:none;
	margin:0px;
	padding:5px 0;
}

ul#kekka li span {
	width: 10em;
	margin:0 0 0 5%;
	display:block;
	float:left;
}

textarea#kekka{
	resize: none;
}

p.textbox {
	max-width:75%;
	height:350px;
	overflow:scroll;
	border: solid 1px #ccc;
	background: #FFFFFF;
	white-space: nowrap;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

.highlight{
	color: red;
}
