/*--Text------------------------------------------------------------*/
body {
	font-weight: bold;
	font-family: "ＭＳ ゴシック",sans-serif;
}

div.title {
	font-size: 175%;
	color: #6495ed;
	font-style: oblique;
	text-align: left;
	float: left;
}

div.name {
	font-size: 250%;
	color: #00bfff;
	text-align: right;
	font-style: oblique;
	float: right
}

span.ver {
	font-size:50%;
	color: #000000;
	text-align: right;
}

/*--construct----------------------------------------------------------*/
body {
	background: #D2EDDB;
}
	
header {
	max-width: 100%;
	background: #D2EDDB;
	margin: 0 auto 30px auto;
	padding: 10px 20%;
	
}

#contents {
	border-top: 3px solid #BDBDBD;
	max-width: 100%;
	height: auto;
	margin: 45px auto 0px;
	padding: 0;
	text-align: center; 
}

#contents2 {
	max-width: 15%;
	height: auto;
	margin: 0 auto;
	padding: 0; 
}

/*--menu------------------------------------------------------------*/
#menu {
	width:75%;
	padding:20px 0 0 20px;
	margin:0 auto;
	list-style-type: none;
}

#menu li {
	width:15%;
	float:left;
	padding:0;
	margin:0;
	text-align:center;
	border: solid 2px #fff;
}

#menu li a {
	width:auto;
	color:#fff;
	font-size:80%;
	font-weight:bold;
	padding:10px 0;
	text-decoration:none;
	display:block;
	background:#008080;
}

#menu li a:hover {
	background:#555;
}

/*--common----------------------------------------------------------*/
a { 
	text-decoration: none;
	display:block;
}

li {
	list-style: none;
	padding: 1% 2%;
	width: 80%;
	margin: 2% auto;
 }
 
a.btn{
	width = 90%;
	height: auto;
	background-color: skyblue;
	border-radius: 4px;
	color: #000000;
	line-height: 250%;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 blue;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	margin: 0 auto;
}

a.btn:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}

a.btn:active {
	top: 3px;
	box-shadow: none;
}
	
a.btn_close{
	background-color: skyblue;
	border-radius: 50%;
	color: #000000;
	line-height: 200%;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 blue;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	text-align: center;
}

a.btn_close:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
	border: none;
}

a.btn_close:active {
	top: 3px;
	box-shadow: none;
}

/*FORM1*/

form#form1 {
	margin: 20px auto;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	color: #666;
	background: #F0FFF0;
	width: 500px;
}

form#form1 ul {
	padding:0;
	margin:0;
	text-align:center;
}

form#form1 ul li {
	list-style:none;
	margin:0px;
	padding:10px;
	border-top: 2px solid #FFF;
	font-size: 12px;
}

form#form1 ul li:first-child {
	border-top:none;
}

form#form1 ul li span {
	width: 17em;
	margin:0px;
	display:block;
	float:left;
}

/*フロートをクリア*/
form#form1 ul li:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;  
}

form#form1 ul li label .txtfiled, form#form1 select {
	width:80%;
	padding:3px 5px;
	margin:0px;
	color:#666;
	border: solid 1px #ccc;
    background: #fff;
	-webkit-box-shadow: 2px 3px 5px -2px #ddd inset;
	-moz-box-shadow: 2px 3px 5px -2px #ddd inset;
	box-shadow: 2px 3px 5px -2px #ddd inset;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}

form#form1 select {
	width:100px;
}

form#form1 ul li p label input {
	margin-right:0.5em;
}

form#form1 ul li input[type="submit"] {
	cursor:pointer;  
	font-size:92%;
	width:150px;
	padding: 5px 0;
	border-style:none;
	color: #fff;
	background:#d3d3d3;
	text-align:center

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px 1px #666;
	-webkit-box-shadow: 2px 2px 3px 1px #666;
	box-shadow: 2px 2px 3px 1px #666;
	text-shadow: 1px 1px 2px #000; 
}
