/*--Text------------------------------------------------------------*/
body {
	font-weight: bold;
	font-family: "ÇlÇr ÉSÉVÉbÉN",sans-serif;
}

div.name {
	font-size: 250%;
	color: #00bfff;
	text-align: right;
	font-style: oblique;
	float: right
}

span.ver {
	font-size:50%;
	color: #000000;
	text-align: right;
}

/*--constract----------------------------------------------------------*/
body {
	background: #D2EDDB;
}

header {
	max-width: 100%;
	background: #D2EDDB;
	margin: 0 auto 80px auto;
	padding: 10px 20%;
}

#contents {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 40px 0;
	text-align: center;
	border-top: 3px solid #BDBDBD;
	border-bottom: 3px solid #BDBDBD;
}

#msg {
	background: #e6e6fa;
	color: navy;
	margin: 30px auto 60px;
	width: 60%;
	height: 25%;
	font-size: 250%;
	line-height: 100%;
}

p#back {
	margin: 50px auto;
	color: navy;
	font-size: 110%;
	border-radius: 60%;
	padding: 20px;
}