extends layout
block reedscript
	link(rel='stylesheet', href='/css/err.css')
block content
	div(id="contents")
		div(id="msg",style="opacity: 0.8;") ERROR
		div(id="errmsg",align="center")= err
		a(href="javascript:history.back()", id="back", style="opacity: 0.8;") 戻る
