extends layout
block reedscript
	link(rel='stylesheet', href='/css/info_share.css')
block title
	div(class="title") 情報共有履歴表示
block content
	nav
		ul(id="menu")
			li
				a(href="/maintenance/report") 保守作業報告
			li
				a(href="/maintenance/search") 保守情報検索
			li
				a(href="/info/share") 情報共有
			li
				a(href="/info/search") 情報検索
			li
				a(href="/tool") ツール
	div(id="contents")
		form(id="info_share", action="/info/history", method="post")
			ul
				li
					label
						span タイトル：
					input(type="text", name="Info_title", size="40", class="txtfiled", value="#{json.Info_title}", ime-mode: active;, required, autofocus)
				li
					label
						span 本文：
					textarea(id="naiyo", name="Info_content", cols="80", rows="6", maxlength="100", ime-mode: active;, required, class="txtfiled2")= json.Info_content
				li
					label
						span カテゴリ：
					select(id="category_dai", name="category_dai")
						if json.category_dai === "sample1"
							option(value="sample1", selected) サンプル１
						else
							option(value="sample1") サンプル１
						if json.category_dai === "sample2"
							option(value="sample2", selected) サンプル２
						else
							option(value="sample2") サンプル２
						if json.category_dai === "sample3"
							option(value="sample3", selected) サンプル３
						else
							option(value="sample3") サンプル３
					select(id="category_cyu", name="category_cyu")
						if json.category_cyu === "sample1"
							option(value="sample1", selected) サンプル１
						else
							option(value="sample1") サンプル１
						if json.category_cyu === "sample2"
							option(value="sample2", selected) サンプル２
						else
							option(value="sample2") サンプル２
						if json.category_cyu === "sample3"
							option(value="sample3", selected) サンプル３
						else
							option(value="sample3") サンプル３
					select(id="category_syo", name="category_syo")
						if json.category_syo === "sample1"
							option(value="sample1", selected) サンプル１
						else
							option(value="sample1") サンプル１
						if json.category_syo === "sample2"
							option(value="sample2", selected) サンプル２
						else
							option(value="sample2") サンプル２
						if json.category_syo === "sample3"
							option(value="sample3", selected) サンプル３
						else
							option(value="sample3") サンプル３
				li
					label
						span マーク：
					if json.Info_important === "true"
						input(type="checkbox", name="Info_important", value="important", checked)
					else
						input(type="checkbox", name="Info_important", value="important")
					|重要
					label 　　　　
					if json.Info_attention === "true"
						input(type="checkbox", name="Info_attention", value="attention", checked)
					else
						input(type="checkbox", name="Info_attention", value="attention")
					|注目
					input(type="hidden", name="myID", value="#{json.myID}")
					input(type="submit", value="修正！")
			ul
				li(class="alone")
					label
						span リプライ元：
						p(id="reply")
	div(id="contents2")
		p(class="textbox")
