doctype html
html(lang="ja")
	head
		meta(charset='UTF-8')
		title= title
		block reedscript
	body
		div(id="wrapper")
		header
			block title
			div(class="name")
				|Biz Bird　　
				span(class="ver") Ver0.01
		block content