doctype html
html(lang="ja")
	head
		style
			| body{-webkit-text-size-adjust: 100%};
		meta(charset='UTF-8')
		title= title
		block reedscript
	body
		header
			block title
			div(class="name")
				|Biz Bird　　
				span(class="ver") Ver1.01
		block content