<html lang="ja">
<head>
<meta charset="Shift_JIS">
<link href="hosyu_report.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src=".jsのファイル名"></script>
</head>
<body>
<div id="wrapper">

<header>
<div class ="title">
保守作業報告
</div>
<div class="name">
Biz Bird　　
<span class="ver">Ver0.01</span>
</div>

</header>

<nav>
<ul id ="menu">
	<li><a href="main_menu.html">メインメニュー</a></li>
	<li><a href="hosyu_search.html">保守作業履歴検索</a></li>
	<li><a href="info_share.html">情報共有</a></li>
	<li><a href="info_search.html">情報検索</a></li>
	<li><a href="tool.html">ツール</a></li>
</ul>
</nav>

<div id="contents">
<form id="form_hosyu_report" action="mail.php" method="post">

<ul>
<li><label><span>期間：</span></label><input type="date" name="date" required  class="txtfiled"><label>　～　</label><input type="date" name="date" required  class="txtfiled"></li>
<li><label><span>表題：</span></label><input type="text" name="name" size="40" required  class="txtfiled"></li>
<li><label><span>作業者：</span></label><input type="text" name="name" size="40" required  class="txtfiled"></li>
<li><label><span>作業場所：</span></label><input type="text" name="name" size="40" required  class="txtfiled"></li>
<li><label><span>作業時間：</span></label><input type="text" name="name" size="40" required  class="txtfiled"></li>
<li><label><span>客先：</span></label><input type="text" name="name" size="40" required  class="txtfiled"></li>
<li><label><span>依頼元：</span></label><input type="text" name="name" size="40" required  class="txtfiled"></li>
<li><label><span>作業分類：</span></label>
<input type="checkbox" name="bunrui" value="toiawase">問合対応
<input type="checkbox" name="bunrui" value="cyousa">調査作業
<input type="checkbox" name="bunrui" value="hukkyu">復旧作業
<input type="checkbox" name="bunrui" value="syuse">修正作業
<input type="checkbox" name="bunrui" value="utiawase">打合作業
<input type="checkbox" name="bunrui" value="others">その他</li>
<li><label><span>内容：</span></label><textarea id="naiyo" name="naiyo" cols="80" rows="6" maxlength="100" required class="txtfiled2"></textarea></li>
<li><label><span>備考：</span></label><textarea id="biko" name="biko" cols="80" rows="6" maxlength="100" class="txtfiled"2"></textarea></li>
<li><input type="submit" value="書き込み！"></li>
</ul></form>

<!--contents--></div>
<!--wrapper--></div>
</body>
</html>












