<html lang="ja">
<head>
<meta charset="Shift_JIS">
<link href="main_menu.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src=".jsのファイル名"></script>
</head>
<body>
<div id="wrapper">

<header>
<div class ="title">
メインメニュー
</div>
<div class="name">
Biz Bird　　
<span class="ver">Ver0.01</span>
</div>

</header>

<div id="contents">

<ul>
<li>
<a href="hosyu_report.html" class="btn">　　　　　　　保守作業報告　　　　　　　</a>
</li>
<li>
<a href="#" class="btn">　　　　　　保守作業履歴検索　　　　　　</a>
</li>
<li>
<a href="#" class="btn">　　　　　　　　情報共有　　　　　　　　</a>
</li>
<li>
<a href="#" class="btn">　　　　　　　　情報検索　　　　　　　　</a>
</li>
<li>
<a href="#" class="btn">　　　　　　　　 ツール 　　　　　　　　　</a>
</li>
</ul>
<!--contents--></div>

<div id ="contents2">


<a href="index.html" class="btn_close">　　終了　　</a>

<!--contents2--></div>
<!--wrapper--></div>
</body>
</html>
